yolo/
test/
train/
valid/
train-pop/
test-pop/
valid-pop/
test-new/
train-new/
valid-new/
test-v4/
train-v4/
valid-v4/
test-v5/
train-v5/
valid-v5/
test-v6/
train-v6/
valid-v6/
yolo11x.pt
yolo11l.pt
yolo11m.pt
yolo12m.pt
yolo11s.pt
yolo11n_HIT_V1.engine
yolo11n_HIT_V1.onnx
yolo11n_HIT_V1.pt
yolo11n.pt
yolo11m_v5.pt
**/best.pt
**/last.pt
DJI_0004.MOV
DJI_0005.MOV
outpy.avi
Run.mp4
yolo11m_v4.pt
Run.mp4
